nav {
    background-color: goldenrod;
    height: 50px;
    width:100%;
    display:inline-block;
}

li {
	display:inline-block;
    list-style-type: none;
    margin: 5px 15px 0 15px;
    font-family: "Arial";
    cursor: pointer;
}

a:hover{
    color: white;
}
li:hover {
    background-color: red;
}
a:active {
	margin:5px;
}
ul {
	padding-left:0;
}
a, li, nav, ul {
	padding:0;
	margin:0;
}
.l1 {
	float:left;
}
.l2 {
	float:right;
}